[submodule "modules/terraform-aws-eks"]
	path = modules/terraform-aws-eks
	url = https://github.com/terraform-aws-modules/terraform-aws-eks
[submodule "istio/release"]
	path = istio/release
	url = git@github.com:istio/istio.git
	branch = master
